<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<!--<div th:object="${user}">-->
<!--    <p th:text="*{id}">Id</p>-->
<!--    <p th:text="*{username}">Username</p>-->
<!--</div>-->
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>PRICE</th>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.id}"> </td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.price}"></td>
    </tr>
</table>

</body>
</html>